@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: head;
    src: url("./assets/barlow-semi-condensed.regular.ttf")format("truetype");
}
.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}





/* In your main CSS file */


@layer base {
  :root {
    --color-primary: #ad50ff;
   
    
    --color-secondary-: #55ff00;
   
  }

}